
<header>         
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="true">
      <logo>
          <a class="logo navbar-brand" href="#"><strong>Blog</strong></a>
      </logo>
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active waves-light" mdbRippleRadius>
                  <a class="nav-link">Inicio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item waves-light" mdbRippleRadius>
                  <a class="nav-link">Posts</a>
              </li>
              <li class="nav-item waves-light" mdbRippleRadius>
                  <a class="nav-link">Productos</a>
              </li>
          </ul>
      </links>
  </mdb-navbar>
 
  <div class="view intro hm-black-light" style="">
      <div class="full-bg-img flex-center">
          <div class="container text-center white-text wow fadeInUp">
              <h1 class="h1-reponsive white-text font-weight-bold mb-3"><strong>Bienvenido a nuestro Blog</strong></h1>
              <hr class="hr-light mt-4">
              <h5 class="text-uppercase mb-5 white-text"><strong>Tecnología &amp; Software</strong></h5>
              <a class="btn btn-outline-white waves-effect waves-light">Portafolio</a>
              <a class="btn btn-outline-white waves-effect waves-light">Nosotros</a>
          </div>
      </div>
  </div>

</header>     

<main class="text-center py-5">

  <div class="container">
      <div class="row">
          <div class="col-md-12">
           
              <section class="section extra-margins pb-3 text-center text-lg-left">
                <div class="row mt-5">

                    <div class="col-md-4">
                       
                        <div class="view-noticias overlay hm-black-slight waves-light" mdbRippleRadius>
                            <img src="https://cdn-images-1.medium.com/max/400/1*b1YXMZFX0o_tt6_9_EkGEg.jpeg" alt="First sample image">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-7">
                      
                        <a href="" class="teal-text"><h6 class="pb-1"><i class="fa fa-heart"></i><strong> Nacional </strong></h6></a>
                        <h4 class="mb-3"><strong>El Chester el nuevo rey de la tecnología</strong></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, ullam! Dolorum omnis libero placeat facere error obcaecati natus pariatur aliquid itaque asperiores quaerat esse veniam minima, consectetur earum ea. Debitis..</p>
                        <p>Por <a><strong>Isaac Rogers</strong></a>, 04/02/2018</p>
                        <a class="btn btn-primary waves-light" mdbRippleRadius>Leer más</a>
                    </div>
                    
                </div>
                
                <hr class="mb-3">

                <div class="row">

                    <div class="col-md-4">
                        
                        <div class="view-noticias overlay hm-black-slight waves-light" mdbRippleRadius>
                            <img src="https://mdbootstrap.com/img/Photos/Others/img (39).jpg" alt="Second sample image">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-7">
                        
                        <a href="" class="cyan-text"><h6 class="pb-1"><i class="fa fa-plane"></i><strong> Internacional</strong></h6></a>
                        <h4 class="mb-3"><strong>El carro del futuro con el mejor software</strong></h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, magni fugit in modi vero earum accusantium beatae eius deleniti, doloremque corporis ut fuga tempora, voluptatem cum et sunt. Earum, aperiam.</p>
                        <p>Por <a><strong>Jake Kent</strong></a>, 2712/2017</p>
                        <a class="btn btn-primary waves-light" mdbRippleRadius>Leer más</a>
                    </div>
                   
                </div>
              
            </section>
       
            <div class="d-flex justify-content-center">            
              <nav>
                <ul class="pagination">
                  <li class="page-item" >
                    <a class="page-link" mdbRippleRadius aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item" ><a class="page-link" mdbRippleRadius>1</a></li>
                  <li class="page-item" ><a class="page-link" mdbRippleRadius>2</a></li>
                  <li class="page-item" ><a class="page-link" mdbRippleRadius>3</a></li>
                  <li class="page-item" ><a class="page-link" mdbRippleRadius>4</a></li>
                  <li class="page-item" ><a class="page-link" mdbRippleRadius>5</a></li>
                  <li class="page-item" >
                    <a class="page-link" mdbRippleRadius aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
      </div>
  </div>

</main>

<footer class="page-footer mdb-color center-on-small-only">

  <div class="container">
      <div class="row">

          <div class="col-md-6">
              <h5 class="title">Acerca de nosotros</h5>
              <p>Developers de la Comunidad SDC Chimbote.</p>
          </div>
          
          <div class="col-md-6">
              <h5 class="title">Links</h5>
              <ul>
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
              </ul>
          </div>
     
      </div>
  </div>
 
  <div class="footer-copyright">
      <div class="container-fluid">
          © 2018 Copyright: <a href="https://www.nuestroblog.com"> nuestroblog.com </a>
      </div>
  </div>

</footer>


      